<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- google index -->
    <%- include('../inc/metaTagGoogle.ejs') %>

    <title><%= pageTitle %></title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />

    <!-- fonts -->
    <link rel="stylesheet" href="/css/amin.css" />
    <link rel="stylesheet" href="/css/vazir.css" />

    <!-- menu -->
    <link rel="stylesheet" href="/css/menu.css" />

    <!-- google icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <% if(path=='/' ) {%>
    <link rel="stylesheet" href="./css/index.css" />
    <script src="/js/index.js" defer></script>
    <% } %>
  </head>

  <body>
    <%- include('../inc/menu.ejs') %> <%- body %> 
     <%- include('../inc/footer.ejs') %> 

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/userController.js"></script>
  </body>
</html>
